<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1f5cc73c-3412-4eb2-a9b3-662a2be0d5e6/resourceGroups/simetrica-todo-api_group/providers/Microsoft.Web/sites/simetrica-todo-api</ResourceId>
    <ResourceGroup>simetrica-todo-api_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://simetrica-todo-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c0ee4fd2-fc9a-45af-893b-9afe18be7e84</ProjectGuid>
    <PublishUrl>https://simetrica-todo-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$simetrica-todo-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>